@require '../layout/index';

.mainContainer {
  background: url(./main_bg.jpg) no-repeat 0 -10em;
  background-size: 100%;
  height: 25em;
  text-align: center;
}

.mainHeading {
  padding 2em 0 1em
}

.hugeHeading {
  font-size 5em
}

.section {
  padding 2em 0
}
