@require '_frontend/styles/colors'
@require '_frontend/styles/fonts'
@require '_frontend/styles/units'

.rootElement {
  color $gray
}

.secondary {
  $secondaryLambda = .9em

  font-family $serifFontFamily
  font-size $secondaryLambda
  line-height ($lambda / $secondaryLambda)
}
