@require '../../styles/fonts'

$headingScale = 1.5
$baseSize = 1em
$large = $baseSize * $headingScale
$xlarge = $large * $headingScale

.rootElement {
  line-height 1.2
}

.mainHeading {
  composes rootElement
  font-family $headingFontFamily
  font-weight 700
  text-transform uppercase
}

.secondaryHeading {
  composes rootElement
  font-weight 700
}

.h1 {
  composes mainHeading
  font-size $xlarge
}

.h2 {
  composes mainHeading
  font-size $large
}

.h3 {
  composes mainHeading
  font-size $baseSize
}

.h4 {
  composes secondaryHeading
  font-size $baseSize
}
