@require '../../styles/fonts'

$headingScale = 1.5
$baseSize = 1em
$large = $baseSize * $headingScale
$xlarge = $large * $headingScale
$huge = $xlarge * $headingScale

.rootElement {
  line-height 1.2
}

.mainHeader {
  composes rootElement
  font-family $headingFontFamily
  font-weight 700
  text-transform uppercase
}

.h1 {
  composes mainHeader
  font-size $huge
}

.h2 {
  composes mainHeader
  font-size $xlarge
  text-transform uppercase
}

.h3 {
  composes mainHeader
  font-size $large
  text-transform uppercase
}

.h4 {
  composes rootElement
  font-size $large
  font-weight 400
  font-family $textFontFamily
}
