$black = #000

$blue = #326F86
$superDarkBlue = #0C445A

$gray = #777
$darkGray = #444
$lightGray = #bbb
$superLightGray = #eee

$green = green

$red = red

$purple = #7B338D
$darkPurple = #631C74

$white = #fff
