$darkGray = #444
$black = #000
$lightBlue = #51899F
$blue = #326F86
$darkBlue = #1C576E
$superDarkBlue = #0C445A
$lightGray = #bbb
$superLightGray = #eee
$green = green
$red = red
$purple = #7B338D
$darkPurple = #631C74
$white = #fff
