@require '_frontend/styles/grid'
@require '_frontend/styles/colors'
@require '_frontend/styles/spacing'

.mainContainer {
  $tint = rgba($orange, .2)

  background $black no-repeat center -3.5em
  background-image linear-gradient($tint, $tint), url(./main_bg.jpg)
  background-size auto 50em
  height unit($lambda * 22, em)
  position relative
}

.mainHeading {
  padding $spacing1x $spacingHalf 0
  border-left .2em solid $mainColor
}

.mainButton {
  margin-top $spacing1x
  padding-left $spacing2x
  padding-right $spacing2x
}

.headingEmphasis {
  // TODO combine this with heading
  $emphasisScale = 2.25 * 3

  // Not sure why, but it looks a little too high
  $marginTopFudge = .01em

  color $mainColor
  font-size unit($emphasisScale, em)
  font-weight 700
  line-height ($lambda * 4 / $emphasisScale)
  margin (-1 * $marginTopFudge) 0 $marginTopFudge
}

.section {
  padding $spacing3x 0
}

.sectionHeading {
  margin-bottom $spacing1x
}

.mainMessage {
  background rgba($mainColor, .9)
  bottom 0
  color $white
  left 0
  padding $spacing1x 0
  position absolute
  text-align center
  width 100%
}

.contactSection {
  composes section
  background $mainColor
  color $white
}

.missionSection {
  composes section
  background $white
}
