@require jeet
@require nib
@require _colors
@require _spacing
@require _units

.column {
  col(1/2)
}

.pledgeColumn {
  composes column
  margin-top 1.5em
}

.reasonColumn {
  composes column
}

$iconWidth = unit($lambda * 2, em)

.reason {
  margin-bottom unit($lambda * 2, em)
  margin-left $spacing1x
  position relative
  padding-left $iconWidth + $spacing1x

  &:last-child {
    margin-bottom 0
  }
}

.reasonIcon {
  color $mainColor
  font-size $iconWidth
  left 0
  position absolute
  top 0
}
