@require '_frontend/styles/grid'
@require '_frontend/styles/colors'
@require '_frontend/styles/spacing'

.section {
  padding $spacing3x 0
}

.navbar {
  background-color $mainColor
  color $white
  height unit($lambda * 2, rem)
}
