@require '_frontend/styles/colors'

.rootElement {
  text-decoration none
  transition color 300ms ease-out
}

.main {
  composes rootElement

  color $mainColor

  &:hover {
    color $darkerMainColor
  }
}

.inherit {
  composes rootElement

  color inherit

  &:hover {
    opacity .8
  }
}
