@require '_frontend/styles/colors'

.rootElement {
  text-decoration none
  transition color 300ms ease-out
}

.main {
  composes rootElement

  color $lightBlue
  text-decoration underline

  &:hover {
    color $blue
  }
}

.inherit {
  composes rootElement

  color inherit

  &:hover {
    opacity .8
  }
}
