@require _colors
@require _spacing

.rootElement {
  color $white
}

.section {
  padding-bottom $spacing1x
}

.input {
  box-sizing border-box
  color $darkGray
  padding $spacingHalf
  width 100%
}

.textarea {
  composes input
  resize none
}
