@require _colors

.rootElement {
  color $white
}

.section {
  padding-bottom 1em
}

.input {
  box-sizing border-box
  color $darkGray
  margin-top .25em
  padding .5em
  width 100%
}

.textarea {
  composes input
  resize none
}
