@require _colors
@require _fonts
@require _units

$headingScale = 1.5

$h3Scale = 1
$h2Scale = $h3Scale * $headingScale
$h1Scale = $h2Scale * $headingScale

.main {
  font-family $headingFontFamily
  text-transform uppercase
}

.h1 {
  font-size unit($h1Scale, em)
  line-height (2 * $lambda / $h1Scale)
}

.h2 {
  font-size unit($h2Scale, em)
  line-height (2 * $lambda / $h2Scale)
}

.h3 {
  font-size unit($h3Scale, em)
  line-height ($lambda / $h3Scale)
}
