@require _colors
@require _fonts

$headingScale = 1.5
$baseSize = 1em
$large = $baseSize * $headingScale
$xlarge = $large * $headingScale

.rootElement {
  line-height 1.2
}

.main {
  composes rootElement
  font-family $headingFontFamily
  font-weight 700
  text-transform uppercase
}

.secondary {
  composes rootElement
  font-weight 700
}

.h1 {
  font-size $xlarge
}

.h2 {
  font-size $large
}

.h3 {
  font-size $baseSize
}
