@require jeet
@require nib
@require _colors

.rootElement {
  background $white
  border $lightGray .1em solid
  border-radius .5em
  padding 2em
}

.pledge {
  font-size 1.3em
  padding-bottom 2em
  text-align center
  margin-bottom .5em
}
