@require '_frontend/styles/colors'
@require '_frontend/styles/fonts'
@require '_frontend/styles/grid'
@require '_frontend/styles/spacing'
@require nib

.pledgeList {
  clearfix()

  background $white
  border-radius .5em
  padding 2em
}

.pledgeContainer {
  col(3/4)
}

.pledge {
  clearfix()
  border .1em solid $lightGray
  border-radius .5em
  margin $spacing1x 0
}

.pledgeItem {
  col(1/2, gutter: 0)
  padding $spacingHalf

  &:first-child {
    border-right .1em solid $lightGray
  }
}

.pledgeItemHeading {
  color $gray
}

.pledgeItemContent {
  color $mainColor
  font-family $serifFontFamily
}

.userImage {
  background no-repeat center
  background-size 100%
  border-radius .5em
  margin-bottom .5em
  padding-bottom 100%
  width 100%
}

.userImageContainer {
  col(1/4)
  text-align center
}
