@require '_frontend/styles/grid'
@require nib
@require '_frontend/styles/colors'

.rootElement {
  background $white
  padding 2em

  +desktop() {
    border-radius .5em
  }
}

.pledge {
  font-size 1.3em
  padding-bottom 2em
  text-align center
  margin-bottom .5em
}

.userImage {
  background no-repeat center
  background-size 100%
  border-radius .5em
  margin-bottom .5em
  padding-bottom 100%
  width 100%
}

.userImageContainer {
  text-align center

  +above(rupture.mobile-cutoff) {
    col(1/4)
  }
}

.container {
  clearfix()
}

.otherContainer {
  +above(rupture.mobile-cutoff) {
    col(3/4)
  }

  +mobile() {
    padding-top 2em
  }
}

.section {
  margin-bottom 1em
}
