@require '_frontend/styles/grid'
@require nib
@require '_frontend/styles/colors'

.rootElement {
  background $white
  border $lightGray .1em solid
  border-radius .5em
  padding 2em
}

.pledge {
  font-size 1.3em
  padding-bottom 2em
  text-align center
  margin-bottom .5em
}

.userImage {
  background url(./holman.jpg) no-repeat center
  background-size 100%
  border-radius .5em
  margin-bottom .5em
  padding-bottom 100%
  width 100%
}

.userImageContainer {
  col(1/4)
  text-align center
}

.container {
  clearfix()
}

.otherContainer {
  col(3/4)
}

.section {
  margin-bottom 1em
}
