@require '_colors'

.rootElement {
  position relative
  padding 0 .5em
  margin 0 .5em
  border-bottom em(1px) dotted black
}

.text {
  font-family 'Pacifico'
  font-size 1.25em
  color $purple
}

.category {
  left 0
  position absolute
  text-align center
  top 1.25em
  width 100%
}
