@require _colors

.rootElement {
  position relative
}

.rootElementWithMargin {
  composes rootElement
  margin 0 .5em
}

.text {
  color $purple
  display inline-block
  font-family 'Pacifico'
  font-size 1.25em
}

@keyframes cursorBlink {
  from, to { border-color: black }
  50% { border-color: transparent }
}

.textWithCursor {
  $cursorPadding = .2em

  composes text
  animation cursorBlink 1s step-end infinite
  border-right .1em solid $darkGray
  padding-right $cursorPadding
  margin-left (-$cursorPadding)
}

.category {
  color $gray
  left 0
  position absolute
  text-align center
  top 1.4em
  width 100%
}

.textContainer {
  display inline-block
  border-bottom em(1px) dotted black
  min-width 8em
  padding 0 .5em
}

.highlightedTextContainer {
  composes textContainer
  background-color yellow
}

.fullWidth {
  padding 0
  width 100%
}
