@require '../styles/colors'

.listItem {
  padding 1em
  border .1em solid $lightGray
  border-radius .5em
  margin-bottom .5em

  &:last-child {
    margin-bottom 0
  }
}

.action {
  color $purple
  font-weight bold
}
