@require nib
@require jeet
@require _colors

.listItem {
  clearfix()

  padding 1em

  &:nth-child(2n + 1) {
    background-color $superLightGray
  }
}

.heading {
  font-size 1.1em
  margin-bottom .25em
}

.year {
  composes heading

  col(1/8)

  text-align center
}

.content {
  col(7/8)
}

.action {
  color $mainColor
  font-weight 700
}
