@require '_frontend/styles/colors'

$fontIncrement = 20px

.size1x {
  font-size $fontIncrement
}

.size2x {
  font-size ($fontIncrement * 2)
}

.size3x {
  font-size ($fontIncrement * 3)
}

.size4x {
  font-size ($fontIncrement * 4)
}
