@require _colors
@require _spacing

.rootElement {
  border .1em transparent solid
  border-radius .5em
  cursor pointer
  display inline-block
  padding $spacingHalf $spacing1x
  text-align center
  transition background-color 300ms ease-out
  user-select none
}

.main {
  composes rootElement
  background-color $mainColor
  color $white

  &:hover {
    background-color $darkerMainColor
  }
}
