@require _colors
@require _fonts
@require _units

html {
  box-sizing border-box
}

*, // @stylint ignore
*:before,  // @stylint ignore
*:after { // @stylint ignore
  box-sizing inherit
}

body {
  background-color $superLightGray
  font-family $textFontFamily
  color $darkGray
  line-height $lambda
}
