@require _colors
@require _fonts

html {
  box-sizing border-box
}

*, *:before, *:after {
  box-sizing inherit
}

body {
  background-color $superLightGray
  font-family $textFontFamily
  color $darkGray
  line-height 1.5
}

a {
  color $blue
  transition color 300ms ease-out

  &:hover {
    color $superDarkBlue
  }
}
