@require '_frontend/styles/colors'
@require '_frontend/styles/grid'
@require '_frontend/styles/spacing'

.form {
  col(1/2, offset: 1/4)
  background-color $white
  border-radius 5px
  margin-top $spacing2x
  margin-bottom $spacing2x
  padding $spacing2x
}

.section {
  margin-bottom $spacing1x
}

.input {
  border 1px solid $kindaLightGray
  box-sizing border-box
  color $darkGray
  padding $spacingHalf
  width 100%
}

