@require '_frontend/styles/grid'
@require '_frontend/styles/colors'
@require '_frontend/styles/spacing'

.heading {
  margin $spacing1x 0
}

.section {
  padding-bottom $spacing3x
}

.navbar {
  background-color $mainColor
  color $white
}

.navbarItem {
  display inline-block
  margin $spacingHalf 0
}

.navbarLink {
  composes navbarItem
  float right
}

.navbarLogo {
  composes navbarItem
  float left
}

