$black = #000

$kindaLightGray = #999
$gray = #666
$darkGray = #444
$lightGray = #bbb
$superLightGray = #eee

$orange = #B57E51

$red = #B55151
$darkRed = #963030

$lightYellow = #FFF3A5

$white = #fff

$mainColor = $red
$darkerMainColor = $darkRed
